#under-18, #vote {
  display: none;
}

.container {
  z-index: 100;
}

.background-img {
  background-image: url("../img/flag.jpg");
  background-color: #f0f;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: .2;
}
